@use '@/styles/variables.scss' as *;

.badge {
  display: inline-flex;
  align-items: center;
  padding: 8rpx 16rpx;
  border-radius: $radius-sm;
}

.sm {
  padding: 4rpx 12rpx;
}

.dot {
  width: 12rpx;
  height: 12rpx;
  border-radius: $radius-round;
  margin-right: 8rpx;
}

.text {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  white-space: nowrap;
}

.md .text {
  font-size: $font-size-md;
}
